set(DEP_ROOT "d:/hpfem/hermes/dependencies")    # Root of a directory with dependecies. This line has to be modified. Don't forget to replace all backslashes '\' with slashes '/'.

set(PTHREAD_ROOT ${DEP_ROOT})
set(HERMES_DIRECTORY "${DEP_ROOT}/lib")
set(HERMES_INCLUDE_PATH "${DEP_ROOT}/include")
set(DEP_INCLUDE_PATHS "${DEP_ROOT}/include")

# Experimental
# Turn on Zoltan AND MPI
# SET(WITH_ZOLTAN YES)
# SET(WITH_MPI NO)